.todo{
    background-color: rgb(201, 191, 191)
    ;
    width: 80%;
    height: 50px;
    border-radius: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 5px auto ;
}
.details{
    display: flex;
    margin-left: 5px;
}
.details h3:nth-child(2) span:nth-child(1){
    color: red;
    cursor: pointer;
}
.details h3:nth-child(2) span:nth-child(2){
    color: green;
    cursor: pointer;
}
@media(max-width:600px){
    .todo{
        width: 95%;
    }
    .details{
        display: flex;
        margin: 0;
        flex-direction: column;
    }
}